<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 11:27:00 Jul 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:46:10 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  esindex: 0.017
  exclusion.robots.policy: 0.179
  captures_list: 133.093
  LoadShardBlock: 109.629 (3)
  exclusion.robots: 0.192
  CDXLines.iter: 18.447 (3)
  load_resource: 14.529
  PetaboxLoader3.datanode: 103.709 (3)
  RedisCDXSource: 1.087
-->