<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 06:25:22 Jul 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:03:57 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 196.369
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.096
  RedisCDXSource: 2.603
  esindex: 0.007
  LoadShardBlock: 175.544 (3)
  PetaboxLoader3.datanode: 71.172 (4)
  CDXLines.iter: 15.835 (3)
  load_resource: 82.682
  PetaboxLoader3.resolve: 40.252
-->