<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Twitter4J: Other - JIRA </title>
    <meta name="decorator" content="general"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
<meta id="atlassian-token" name="atlassian-token" content="I51G8WOb7s">
    <link rel="shortcut icon" href="http://yusuke.homeip.net/jira/s/519/2/_/favicon.ico">
    <link rel="icon" type="image/png" href="http://yusuke.homeip.net/jira/s/519/2/_/images/icons/favicon.png">
    <script type="text/javascript">var contextPath = '/jira';</script>
<link type="text/css" rel="stylesheet" href="http://yusuke.homeip.net/jira/s/519/2/2.1.3/_/download/batch/com.atlassian.auiplugin:ajs/com.atlassian.auiplugin:ajs.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="/jira/s/519/2/2.1.3/_/download/batch/com.atlassian.auiplugin:ajs/com.atlassian.auiplugin:ajs.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="http://yusuke.homeip.net/jira/s/519/2/1.0/_/download/batch/jira.webresources:global-static/jira.webresources:global-static.css" media="all">
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="/jira/s/519/2/1.0/_/download/batch/jira.webresources:global-static/jira.webresources:global-static.css?ieonly=true" media="all">
<![endif]-->
<link type="text/css" rel="stylesheet" href="http://yusuke.homeip.net/jira/s/519/2/1.0/_/download/batch/jira.webresources:global-static/jira.webresources:global-static.css?media=print" media="print">
<link type="text/css" rel="stylesheet" href="http://yusuke.homeip.net/jira/s/519/2/1.0/_/download/resources/jira.webresources:global-static/global.css" media="all">
<script type="text/javascript" src="http://yusuke.homeip.net/jira/s/519/2/1.0/_/download/batch/jira.webresources:ajaxhistory/jira.webresources:ajaxhistory.js"></script>
<script type="text/javascript" src="../../../../jira/s/519/2/2.1.3/_/download/batch/com.atlassian.auiplugin_ajs/com.atlassian.auiplugin_ajs.js"></script>
<script type="text/javascript" src="../../../../jira/s/519/2/1.0/_/download/batch/jira.webresources_jira-global/jira.webresources_jira-global.js"></script>
<script type="text/javascript" src="http://yusuke.homeip.net/jira/s/519/2/1.1.5.1/_/download/batch/com.atlassian.gadgets.embedded:gadget-core-resources/com.atlassian.gadgets.embedded:gadget-core-resources.js"></script>
<script type="text/javascript" src="http://yusuke.homeip.net/jira/s/519/2/1.1.5.1/_/download/batch/com.atlassian.gadgets.embedded:gadget-container-resources/com.atlassian.gadgets.embedded:gadget-container-resources.js"></script>
<script type="text/javascript" src="http://yusuke.homeip.net/jira/s/519/2/1.1.5.1/_/download/batch/com.atlassian.gadgets.embedded:gadget-standalone-resources/com.atlassian.gadgets.embedded:gadget-standalone-resources.js"></script>
<script type="text/javascript" src="http://yusuke.homeip.net/jira/s/519/2/1.0/_/download/batch/jira.webresources:browseproject/jira.webresources:browseproject.js"></script>
<script type="text/javascript" src="../../../../jira/s/519/2/1.0/_/download/batch/jira.webresources_key-commands/jira.webresources_key-commands.js"></script>
<script type="text/javascript" src="../../../../jira/s/519/2/1.0/_/download/batch/jira.webresources_header/jira.webresources_header.js"></script>
    <script type="text/javascript" src="../../../../jira/rest/api/1.0/shortcuts/519/c76e82fdebd816afbcdfca788344f04c/shortcuts.js"></script>
</head>
<body id="jira" class="nl type-aa">
<div id="header">
    <div id="header-top">
        <a id="logo" href="../../../../jira/secure/Dashboard.html">
                    </a>
                <form id="quicksearch" action="../../../../jira/secure/QuickSearch.html" method="post">
            <label for="quickSearchInput" title="Go directly to an issue by typing a valid issue key, or run a free-text search." class="overlabel">Quick Search</label>
            <input id="quickSearchInput" class="quickSearchInput" type="text" size="25" title="Go directly to an issue by typing a valid issue key, or run a free-text search." name="searchString" accesskey="q" valign="absmiddle"/>
        </form>
        <div id="header-details-user" class="aui-dd-parent header-link-container">
         <a class="lnk" rel="nofollow" href="/">Log In</a>
        <span class="drop-wrap">
        <a class="drop aui-dd-link" href="#"><span>Access more options</span>
        </a>
    </span>
    <div class="aui-dropdown standard hidden">
                                                                <ul id="jira-help" class="  first     last  ">
                                            <li><a id="view_help" class="" title="Goto the online documentation for JIRA" href="http://docs.atlassian.com/jira/docs-041/Home?clicked=jirahelp">Online Help</a></li>
                                            <li><a id="keyshortscuthelp" class="" title="Get more information about JIRA's Keyboard Shortcuts" href="/">Keyboard Shortcuts</a></li>
                                            <li><a id="user_history" class="" title="Get more information about JIRA" href="http://www.atlassian.com/software/jira">About JIRA</a></li>
                                    </ul>
                        </div>
</div>
    </div>
    <div id="header-bottom">
                <div id="menu">
<ul id="main-nav" class="menu-bar">
                        <li class="aui-dd-parent lazy  ">
                    <a class="lnk" href="../../../../jira/secure/Dashboard.html" id="home_link" accesskey="h" title="View your current Dashboard">Dashboards</a>
                    <span class="drop-wrap">
            <a class="drop aui-dd-link" id="home_link_drop" rel="home_link" accesskey="d" title="Access more options (Alt+d)" href="#"><span>Access more options (Alt+d)</span></a></span>
            <div class="aui-dropdown standard hidden"></div>
                </li>
                        <li class="aui-dd-parent lazy  selected  ">
                    <a class="lnk" href="../../../../jira/browse/TFJ.html" id="browse_link" accesskey="b" title="Browse currently active project 'Twitter4J'">Projects</a>
                    <span class="drop-wrap">
            <a class="drop aui-dd-link" id="browse_link_drop" rel="browse_link" accesskey="p" title="Access more options (Alt+p)" href="#"><span>Access more options (Alt+p)</span></a></span>
            <div class="aui-dropdown standard hidden"></div>
                </li>
                        <li class="aui-dd-parent lazy  ">
                    <a class="lnk" href="../../../../jira/secure/IssueNavigator.html" id="find_link" accesskey="f" title="View your current filter">Issues</a>
                    <span class="drop-wrap">
            <a class="drop aui-dd-link" id="find_link_drop" rel="find_link" accesskey="i" title="Access more options (Alt+i)" href="#"><span>Access more options (Alt+i)</span></a></span>
            <div class="aui-dropdown standard hidden"></div>
                </li>
    </ul>
        </div>
    </div>
</div>
<fieldset class="hidden parameters">
    <input type="hidden" id="dirtyMessage" value="You have entered new data on this page. If you navigate away from this page without first saving your data, the changes will be lost.">
    <input type="hidden" id="keyType" value="Type">
    <input type="hidden" id="keyThen" value="then">
    <input type="hidden" id="dblClickToExpand" value="Double click to expand">
</fieldset>
<div class="alertHeader">
<center>
<script type="text/javascript"><!--
google_ad_client = "pub-3583922429486444";
/* Jira */
google_ad_slot = "1586897956";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript" src="../../../../pagead/show_ads.js">
</script>
<script src="../../../../urchin.js" type="text/javascript">
</script>
</center>
<script type="text/javascript">
_uacct = "UA-262260-1";
urchinTracker();
</script>
</div>
<script type="text/javascript">window.dhtmlHistory.create();</script>
<div class="item-header" id="content-top">
    <h1 class="item-name avatar">
        <a href="../../../../jira/browse/TFJ.html#selectedTab=com.atlassian.jira.plugin.system.project:summary-panel" title="Back to the Summary tab for the Twitter4J project">
            <span>Back to the Summary tab for the Twitter4J project</span>
        </a>
    </h1>
    <ul class="breadcrumbs">
        <li>
            <a href="../../../../jira/browse/TFJ.html#selectedTab=com.atlassian.jira.plugin.system.project:summary-panel" title="Back to the Summary tab for the Twitter4J project">Twitter4J:</a>
        </li>
    </ul>
    <h2 class="item-summary">Other</h2>
</div>
<div id="main-content">
    <ul class="vertical tabs">
            <li class="active  first">
                <a class="browse-tab" id="component-summary-panel-panel" href="/"><strong>Summary</strong></a>
            </li>
            <li class=" ">
                <a class="browse-tab" id="component-issues-panel-panel" href="/"><strong>Issues</strong></a>
            </li>
            <li class=" ">
                <a class="browse-tab" id="component-roadmap-panel-panel" href="/"><strong>Road Map</strong></a>
            </li>
            <li class=" ">
                <a class="browse-tab" id="component-changelog-panel-panel" href="/"><strong>Change Log</strong></a>
            </li>
            <li class=" ">
                <a class="browse-tab" id="component-popularissues-panel-panel" href="/"><strong>Popular Issues</strong></a>
            </li>
    </ul>
    <div class="active-area" id="project-tab">
        <h2>Summary</h2>
<div id="quicklinks">
<ul class="operations">
<li class="aui-dd-parent">
<a href="#" title="View preset filters" class="lnk aui-dd-link standard icon-filters" id="filters"><span>Filters</span></a>
<div class="aui-dropdown standard hidden">
    <ul id="filters-dropdown" class="last">
                                <li class="dropdown-item">
                                                 <a id="filter_all" href="/">All</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_resolvedrecently" href="/">Resolved recently</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_outstanding" href="/">Outstanding</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_addedrecently" href="/">Added recently</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_unscheduled" href="/">Unscheduled</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_updatedrecently" href="/">Updated recently</a>
                            </li>
                                            <li class="dropdown-item">
                                                 <a id="filter_mostimportant" href="/">Most important</a>
                            </li>
                        </ul>
</div>
</li>
</div><div id="primary" class="column"><div class="content"><div class="module" id="fragcomponentdescription"><div class="mod-header">
    <h3>Description</h3>
</div>
<div class="mod-content">
            <ul class="details">
        <li><span class="label">Lead:</span><span class="description">        <a id="component_summary_yusuke" href="../../../../jira/secure/ViewProfile_name_yusuke.html">Yusuke Yamamoto</a></span></li>
    </ul>
    </div>
</div><div class="module" id="fragdueissues"><div class="mod-header">
    <ul class="ops">
        <li><a id="fragdueissues_more" class="icon icon-view" href="/" title=""><span>More</span></a></li>
    </ul>
    <h3>Issues: Due</h3>
</div>
<div class="mod-content">
    <ul class="issues">
                <li class="vevent">
                        <a class="url issue summary" href="/">TFJ-340</a>
            <span class="dtstart hidden">2010-04-20T02-06</span>
                        <span class="dtend hidden">2010-04-20T02-06</span>
                        <span class="description">move twitter4j.http.* to twitter4j.auth.*</span>
        </li>
            </ul>
</div></div><div class="module" id="fragrecentissues"><div class="mod-header">
    <ul class="ops">
        <li><a id="fragrecentissues_more" class="icon icon-view" href="/" title=""><span>More</span></a></li>
    </ul>
    <h3>Issues: Updated recently</h3>
</div>
<div class="mod-content">
    <ul class="issues">
                <li class="vevent">
                        <a href="/" class="url issue summary">TFJ-340</a>
            <span class="dtstart hidden">2010-04-20T02-06</span>
                            <span class="date"><abbr class="dtend" title="2010-04-20T02-06">20/Apr/10</abbr></span>
                        <span class="description">move twitter4j.http.* to twitter4j.auth.*</span>
        </li>
                <li class="vevent">
                        <a href="/" class="url issue summary">TFJ-222</a>
            <span class="dtstart hidden">2009-10-14T02-23</span>
                            <span class="date"><span class="label">Updated: </span>26/Feb/10</span>
                <span class="dtend hidden">2010-02-22</span>
                        <span class="description">separate examples classes from Twitter4J core project</span>
        </li>
                <li class="vevent">
                        <a href="/" class="url issue summary">TFJ-225</a>
            <span class="dtstart hidden">2009-10-17T01-47</span>
                            <span class="date"><abbr class="dtend" title="2010-02-23T23-20">23/Feb/10</abbr></span>
                        <span class="description">setup twitter4j.org</span>
        </li>
            </ul>
 </div>
</div></div></div><div id="secondary" class="column"><div class="content"><div class="module" id="fragdueversions"><div class="mod-header">
    <ul class="ops">
        <li><a id="fragdueversions_more" class="icon icon-view" href="/" title=""><span>More</span></a></li>
    </ul>
    <h3>Versions: Due</h3>
</div>
<div class="mod-content">
    <ul class="issues">
                    <li>
                <a href="/" class="version">2.1.3</a>
            <span class="date">&nbsp;</span>
        </li>
                            <li>
                <a href="/" class="version">2.1.4</a>
            <span class="date">&nbsp;</span>
        </li>
                            <li>
                <a href="/" class="version">3.0.0</a>
            <span class="date">&nbsp;</span>
        </li>
                </ul>
</div>
</div></div></div>
    </div>
</div>
<div class="footer">
<div class="poweredbymessage">
        <a href="http://www.atlassian.com/software/jira" class="smalltext">Atlassian JIRA</a>
        <span id="footer-build-information" style="color: #666666;">(v4.1#519)</span>        | <a href="http://support.atlassian.com/secure/CreateIssue.jspa?issuetype=1&amp;pid=10000">Report a problem</a>
        | <a href="http://jira.atlassian.com/secure/CreateIssue.jspa?pid=10240&amp;issuetype=2">Request a feature</a>
        | <a href="../../../../jira/secure/Administrators.html">Contact administrators</a>
    </div>
            <div class="licensemessage">
                    Powered by a free Atlassian <a href="http://www.atlassian.com/software/jira">JIRA</a> open source license for Yusuke Yamamoto. Try JIRA - <a href="http://www.atlassian.com/software/jira">bug tracking software</a> for <i>your</i> team.
                </div>
    </div>
<!--
	                 REQUEST ID : 804x86736x1
	          REQUEST TIMESTAMP : [14/May/2010:13:24:13 +0900]
	               REQUEST TIME : 0.2270
	                 ASESSIONID : adbzws
	        CONCURRENT REQUESTS : 1
-->
</body>
</html>