<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 23:05:43 Jul 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:20:52 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 129.057
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.074
  RedisCDXSource: 5.002
  esindex: 0.009
  LoadShardBlock: 105.961 (3)
  PetaboxLoader3.datanode: 93.676 (4)
  CDXLines.iter: 15.676 (3)
  load_resource: 184.08
  PetaboxLoader3.resolve: 130.448
-->