<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 23:04:46 Jul 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:20:49 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  PetaboxLoader3.resolve: 38.26
  LoadShardBlock: 83.265 (3)
  esindex: 0.017
  RedisCDXSource: 1.899
  captures_list: 115.583
  CDXLines.iter: 25.958 (3)
  exclusion.robots.policy: 0.219
  PetaboxLoader3.datanode: 105.504 (4)
  exclusion.robots: 0.233
  load_resource: 112.912
-->