<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 14:48:27 Jul 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:55:11 Jul 04, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 207.084
  exclusion.robots: 0.113
  exclusion.robots.policy: 0.105
  RedisCDXSource: 0.95
  esindex: 0.008
  LoadShardBlock: 179.797 (3)
  PetaboxLoader3.datanode: 107.385 (3)
  CDXLines.iter: 22.918 (3)
  PetaboxLoader3.resolve: 69.777
  load_resource: 155.844
-->