<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 06:26:59 Jul 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:04:07 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  exclusion.robots: 0.231
  captures_list: 297.609
  exclusion.robots.policy: 0.218
  CDXLines.iter: 26.534 (3)
  PetaboxLoader3.resolve: 33.422
  PetaboxLoader3.datanode: 117.351 (4)
  cdx.remote: 0.114
  LoadShardBlock: 206.603 (3)
  load_resource: 99.879
  esindex: 0.017
-->