<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><title>yusuke.homeip.net is offline</title></head><body><h1>yusuke.homeip.net is offline</h1><p>yusuke.homeip.net is currently offline. Please try again later.</p><hr/><p>Questions about our services?  Learn more at <a href='http://Dyn.com'>Dyn.com</a>.</p></body></html>
<!--
     FILE ARCHIVED ON 10:23:47 Jul 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:26:20 Jul 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  esindex: 0.014
  exclusion.robots.policy: 0.21
  captures_list: 111.573
  LoadShardBlock: 80.116 (3)
  exclusion.robots: 0.229
  CDXLines.iter: 26.035 (3)
  load_resource: 5.964
  PetaboxLoader3.datanode: 55.765 (3)
  RedisCDXSource: 0.845
-->